.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90svh;
}

.signupForm {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    min-width: 300px;
    padding: 2rem;
    gap: 1rem;
}

.signupForm button {
    align-self: center;
    margin-top: 1rem;
    padding: 0.25rem;
    width: 200px;
}

.formInput {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.formInput p {
    margin: 0;
}

.formInput span {
    text-align: end;
    flex: 1;
}

.loginText {
    display: flex;
    gap: 0.5rem;
}

.loginLink {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}