.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    margin: 1rem;
}

.paginateContainer {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.blogContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-height: 75vh;
    overflow-y: auto;
    padding-right: 10px;
}

.blogContainer p {
    margin: 0;
}

.blogCard {
    flex: 1;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding-bottom: 15px;
    transition: .3s ease;
    max-height: fit-content;
}

.blogCard:hover {
    transform: translateY(-2px);
}

.blogImage {
    width: 100%;
    height: 180px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    cursor: pointer;
}